/*for desktop*/


body{
	margin: 0 auto;
	height:100%;
	background:linear-gradient(rgba(0, 0 ,0 , .8), rgba(0, 0 ,0 , .8)),url(../images/b.jpg);
	background-position: center ;	
	background-size: cover;
	background-attachment: fixed;
}

#wrapper .header h1 { 
	font-size: 50px;
	text-align: left;
	line-height:40px;
	color: #e52727; 
}
#wrapper .header h1:hover{
	color: #ffffff; 
	text-decoration: none;
}
#wrapper { 
	display: block;
	text-align: left;
	font-size: 25px;
	font-family:Helvetica, sans-serif;
	color: #333;	
	/* position: relative;	 */	
	width: 100%; 
	padding: 100px 0px;

}
#wrapper .main p{
	text-align: left;
	line-height: 30px;
	/* font-weight: bold;  */

}
#wrapper #wrap{
	/* position: absolute; */
	width:100%;
	margin:0 auto; 
	max-width: 800px;
	/* content: "";
	top:50%;
	left:12%;
	right: 10%; */
	color:#ffffff;
	/* transform: translateY(-50%); */
}
#wrapper .main a{
	color: #e52727; 
	font-weight: bold;
	text-decoration: none;
}

#wrapper .main a:hover{
	color: #ffffff; 
	text-decoration: none;
}

#wrapper .footer span{
	font-weight: bold;
	color: #e52727; 
}
#wrapper .footer span:hover{
	color: #ffffff; 
	text-decoration: none;
}
#wrapper .footer {
	
	/* font-weight: bold; */
	/* font-style: italic; */
}
#wrapper .footer p{
	padding-top:40px; 
	text-align: left;
}

#wrapper .footer input[type=button]{
	background-color:#e52727;
	border-radius: 5px;
	color: white;
	padding: 5px 25px;
	text-decoration: none;
	border:none;
	margin: 5px 2px;
	cursor: pointer;
	font-size:20px;
	font-family:Helvetica, sans-serif;

}
#wrapper .footer input[type=text]{
	text-align: left;
	overflow:hidden;
	background:transparent;
	width: 74%;
	box-sizing: border-box;
	border-radius: 5px;
	padding:8px;
	color: white;
	margin-bottom: 10px;
	border:2px solid white;
}

/* media querry */

@media only screen and (max-width:990px){

#wrapper{
	font-size: 20px;
}
#wrapper #wrap{
	max-width: 650px;
	color:#ffffff;
}
#wrapper .footer input[type=text]{
	padding:5px;
}
#wrapper .footer input[type=button]{
	padding: 3px 15px;
}
}
/*for mobile*/

@media screen and (max-width:768px) {


	#wrapper .header h1 { 
		font-size: 30px;
		text-align: left;
		line-height:30px;
	}
	#wrapper .header h1:hover{
		color: #ffffff; 
		text-decoration: none;
	}
	#wrapper { 
		
		font-size: 19px;
		height:120vh;
		width: 100%;

	}
	#wrapper .main p{
		text-align: left;
		line-height: 30px;
		/* font-weight: bold;  */

	}
	#wrapper #wrap{
		width:100%;
		max-width:280px;
		left:8%;
	}
	#wrapper .main a{
		color: #e52727; 
		font-weight: bold;
		text-decoration: none;
	}

	#wrapper .main a:hover{
		color: #ffffff; 
		text-decoration: none;
	}

	#wrapper .footer span{
		font-weight: bold;
		color: #e52727; 
	}
	#wrapper .footer span:hover{
		color: #ffffff; 
		text-decoration: none;
	}
	#wrapper .footer {

		/* font-weight: bold; */
		/* font-style: italic; */
	}
	#wrapper .footer p{
		padding-top:40px; 
		text-align: left;
	}

	#wrapper .footer input[type=button]{
		padding: 5px 25px;
		margin: 5px 0px;
		font-size:17px;
	}
	#wrapper .footer input[type=text]{
		width: 70%;
		box-sizing: border-box;
		border-radius: 5px;
		padding:4px;
		color: white;
		margin-bottom: 10px;
		border:2px solid white;
	}
}